<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update your Password here ...</h1>
    <input id="password" type="text" placeholder="enter a new password">
    <button onclick="handleSubmit()">submit</button>

    <!-- <p>  <%= token  %> </p> -->

    <script>
        let token = '<%= token  %>'
        console.log(token);

        let passwordTag = document.getElementById('password')  //<input/>

       async function handleSubmit(){
            let obj = {
                password:passwordTag.value
            }

            console.log(obj)

            let res = await fetch(`http://localhost:8090/users/updatepassword/${token}`,{
                method:"put",
                headers:{
                    'content-type':'application/json'
                },
                body:JSON.stringify(obj)
            })

            let data = await res.json();
            console.log(data);
            alert(data.msg)
        }

        
    </script>
</body>
</html>